<html>
<head>
  <style>
  </style>
  <link rel="stylesheet" href="/css/semantic.min.css" >
</head>
<body>
  <div class="ui container">
    <div style="margin-bottom: 25px;">&nbsp</div>
    <div style="margin-bottom: 25px;">
      &nbsp
      <a href="/view/newIssue.html" class="ui teal right floated  button">New Issue</a>
    </div>

    <div class="ui secondary pointing menu">
      <a class="active item">
        Open
      </a>
      <a class="item">
        Closed
      </a>
      <a class="item">
        All
      </a>
    </div>
    <div class="ui segment">
      <div class="ui middle aligned selection animated divided list">
        <div class="item">
          <div class="content">
            <div class="header">[Suggestion] Branch>> Its taking branches with the same name.</div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <div class="header">[Suggestion] In Stock page, Maybe we can close the valid date
            </div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <div class="header">*Bug report template
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="/javascript/html2canvas.min.js"></script>
<script src="/javascript/jquery-3.5.1.slim.min.js"></script>
<!-- <script src="popper.min.js"></script> -->
<!-- <script src="bootstrap.min.js"></script> -->
<script src="/javascript/semantic.min.js"></script>

<script src="/view_javascript/newIssue.js"></script>

</body>
</html>