<html>
    <head>

    </head>
    <body>
        <div id="issueImageContainer">
            <div id="convasCrop" style="display:inline-block;">
              <img id="editingImage" >
              <p style="color:white; position: absolute; font-size: 30px; top: 50px; left: 50px;">aaaa</p>
            </div>
            <button id="doneEditImage">Done editing image</button>
        </div>
        <script src="/view_javascript/issueEditImage.js"></script>
        <script src="/javascript/html2canvas.min.js"></script>

    </body>
</html>